<div class="container">

	<div class="container jumbotron">
		<h2>Admin Settings<br><small>Current User: <%= current_user.email %></small></h2>
		
		<button type="button" class="btn btn-warning">Reset Password</button>
		<button type="button" class="btn btn-info">Update Account Settings</button>
		<hr>
		
		<!-- Placeholder content / mockup only -->
		<div class="col-md-6">
			<h4>Email Reports</h4>
			<div class="form-group">
		    <div class="col-sm-offset-1 col-sm-11">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Receive product database updates
		        </label>
		      </div>
		    </div>
		  </div>
		  <br>
			<div class="form-group">
		    <div class="col-sm-offset-1 col-sm-11">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Receive weekly sales reports
		        </label>
		      </div>
		    </div>
		  </div>
			<div class="form-group">
		    <div class="col-sm-offset-1 col-sm-11">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Receive weekly traffic reports
		        </label>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="container">
		</div>
		<hr>
	</div>
</div>
<br>
