<div class="col-md-3"></div>
<div class="col-md-6 container">
  
	<h2>Contact Us</h2>
	<hr>
	<p class="lead">Lorem ipsum dolor</p>
	<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
	<br>
	<div class="jumbotron">
		<p>e: <a href="#">support@betastore.com</a><br>p: 800.123.4567</p>
		<hr>
		<p>Betastore<br>101 Main Street<br>Big City, MD 12345
	</div>



</div>
<div class="col-md-3"></div>